{% extends 'base.html.twig' %}

{% block title %}{{ "guest_show_header"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "guest_show_header"|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ "id_col"|trans }}</th>
                <td>{{ guest.id }}</td>
            </tr>
            <tr>
                <th>{{ "firstname_col"|trans }}</th>
                <td>{{ guest.firstname }}</td>
            </tr>
            <tr>
                <th>{{ "lastname_col"|trans }}</th>
                <td>{{ guest.lastname }}</td>
            </tr>
            <tr>
                <th>{{ "description_col"|trans }}</th>
                <td>{{ guest.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_guest_index') }}">{{ "back_to_list"|trans }}</a>

    <a href="{{ path('app_guest_edit', {'id': guest.id}) }}">{{ "edit_guest_action"|trans }}</a>

    {{ include('guest/_delete_form.html.twig') }}
{% endblock %}
